@model Football.PL.Models.StadiumViewModel
@{
    ViewBag.Title = "Удаление стадиона";
}
<h2>Удаление </h2>

<h3>Вы уверены что хотите удалить этот стадион?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Стадион
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
